/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxgi;
}

/* Starter styles*/ 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Starter styles*/

/*Header****/

header {
    background-color: green;
}


/*eEader^^^^*/

/*Main*****/

main {
    background-color: lightgreen;
    /*move footer to bottom*/
    flex: 1 0 auto; 
}


/*Main^^^^*/

/*Footer****/

footer {
    background-color: yellow;

}


/*Footer^^^^*/