/*GoogleFonts link*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Sarabun:ital,wght@0,200;0,600;0,800;1,700&display=swap');


/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Starter styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bebas Neue' sans-serif;
}

/* Starter styles*/

/*...........Header.........*/

#white-space {
    background-color: #ffff;
    color: #527a5a;
    font-size: larger;
    width: 100%;
    height: 110%;
    position: relative;
    top: 0;

}

#welcome {
    font-family: 'Lobster', sans-serif;
    position: relative;
    text-align: end;
    padding-right: 1rem;
    padding-top: 0.5rem;
    text-decoration: underline;
    
}


#header-img {
    background-image: url(../images/Header-Image.jpg);
    width: 100%;
    height: 160px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
}

#wwt {
    background-color: rgba(255, 255, 255, 0.8);
    color: #527a5a;
    font-family: 'Lobster', sans-serif;
    font-size: 150%;
    width: 50%;
    word-spacing: 2px;
    letter-spacing: 3px;
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    top: 2.5rem;
    right: 0;
}

#page-titles {
    background-color: rgba(215, 242, 221);
    box-shadow: 0 2px 4px #527a5a;
    text-transform: capitalize;
    color: #012708;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-left: 3rem;
    position: absolute;
    bottom: -3rem;
    width: 100%;


}

#logo {
    width: 55%;
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 3;
}

.fa-solid-fa-paw {
    color: #527a5a;
}


#menu {
    background-color: rgba(215, 242, 221);
    color: #074701;
    width: 100%;
    list-style-type: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 130%;
    padding-left: 2rem;
    left: 4rem;
    letter-spacing: 2px;

}

#menu li {
    text-transform: uppercase;

}

.active {
    border-bottom: 1px #ffff;
    color: #ffff;

}

/*Toggle nav setting*/
nav {
    width: 40%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 4px #527a5a;
    display: none;
    position: fixed;
    top: 28%;
}

/* Toggle*/

#nav-drop:checked~nav {
    display: block;

}

#nav-drop {
    display: none;

}

.nav-drop-label {
    font-size: 3rem;
    color: #012708;
    padding-left: 1rem;
    display: block;
    position: fixed;
    top: 28%;

}

/*.......^^..Header.^.^.....*/

/*...........Main..............*/
#main {
    flex: 1;
}

/*.........HomePage..........*/


/*......^^^HomePage^^^.......*/
/*.........Servicepage..........*/


/*......^^^Servicepage^^^.......*/
/*.........Aboutpage..........*/



/*......^^^Aboutpage^^^.......*/
/*........Contactpage..........*/




/*Map*/
#map {
    position: fixed;
    bottom: 0;
    height: 20%;
    width: 100%;

}
/*.....^^^Contactpage^^^.......*/

/*.......^^^Main^^^........*/

/*.........Footer......*/
footer {
    z-index: 1;

}

#social-net {
    background-color: #527a5a;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-net i {
    font-size: 250%;
    color: #ffff;
    padding: 5px;
}

/*.........^^^Footer^^^........*/

/* Media Tablets and Larger (min width - 768+)*/
@media screen and (min-width: 768px) {
    /*Header*/
    #header-img {
        height: 300px;

    }

    #page-titles {
        font-size: 140%;
        letter-spacing: 2px;
        word-spacing: 2px;
        padding-top: 5px;
        text-align: left;
        position: absolute;
        right: 0;
        bottom: 30px;
        width: 100%;
        min-height: 100px;

    }

    nav {
        background-color: #527a5a;
        display: block;
        position: relative;
        box-shadow: none;
        width: 100%;
        height: 55px;
        text-align: justify;
        font-size: larger;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-top: 1rem;
        word-spacing: 20%;
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .nav-drop-label {
        display: none;
    }

    #logo {
        position: absolute;
        top: 10%;
        right: -7rem;
        width: 28rem;
        display: flex;
        z-index: 1;

    }

    #wwt {
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px;
        font-size: 45px;
        padding-top: 1rem;

    }


    main {
        margin-top: 79px;
    }
}


/*Medai Large screen size min width 992px*/

@media screen and (min-width: 992px) {
    #menu a:hover {
        color: white;
    }

}

/*media larger screen size minwidth 1200px*/

@media screen and (min-width: 1200px) {

    #wwt {
        font-size: 65px;
    }

    #page-titles {
        font-size: 160%;
        padding-top: 5px;
        padding-left: 8rem;
        bottom: 10px;


    }

    #logo {
        width: 35rem;
        right: -6rem;
        top: -1rem;
    }
}