/*GoogleFonts link*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Sarabun:ital,wght@0,200;0,600;0,800;1,700&display=swap');


/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Starter styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bebas Neue' sans-serif;
}

/* Starter styles*/

/*...........Header.........*/

#white-space {
    background-color: #ffff;
    color: #527a5a;
    font-size: larger;
    width: 100%;
    height: 110%;
    position: relative;
    top: 0;

}

#welcome {
    font-family: 'Lobster', sans-serif;
    position: relative;
    text-align: end;
    padding-right: 1rem;
    padding-top: 0.5rem;
    text-decoration: underline;
    
}


#header-img {
    background-image: url(../images/Header-Image.jpg);
    width: 100%;
    height: 460px;
    box-shadow: 0 6px 20px #527a5a;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
}


#page-titles {
    background-color: rgb(184, 225, 193);
    box-shadow: 0 2px 4px #527a5a;
    text-transform: capitalize;
    color: #012708;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-left: 15px;
    position: relative;
    top: 350px;
    width: 100%;

}

#logo {
    width: 90%;
    position: absolute;
    top: 74px;
    left: -28px;
    z-index: 3;
}

.fa-solid-fa-paw {
    color: #527a5a;
}


#menu {
    background-color: rgba(215, 242, 221);
    width: 100%;
    position: relative;
    display: grid;


}

#menu li {
    font-family: 'Bebas Neue', sans-serif;
    color: #074701;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 30px;
    display: grid;


}

#active-back {
    background-color: #074701;
    width: 100%;
    height: 100%
}

.active {
    text-decoration: 2px solid underline;
    color: #ffff;

}

/*Toggle nav setting*/
nav {
    width: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 4px #527a5a;
    display: none;
    position: absolute;
    top: 0;
    z-index: 4;
}

/* Toggle*/

#nav-drop:checked ~ nav {
    display: inline;

}

#nav-drop {
    display: none;

}

.nav-drop-label {
    font-size: 30px;
    background-color: rgb(184, 225, 193);
    width: 100%;
    color: #012708;
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    padding-left: 15px;

}

/*.......^^..Header.^.^.....*/

/*...........Main..............*/
#main {
    display: inline-block;
    flex: 1;
    position: relative;
    margin-top: 15%;
    margin-bottom: 20%;
    z-index: 1;
}

/*.........HomePage..........*/
#home-page div {
    box-shadow: 0 4px 10px #527a5a;
}

#home-page h2 {
    font-family: 'Bebas Neue',sans-serif;
    font-size: 39px;
    color: #527a5a;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 1px;
    position: relative;
    top: 0;

}

#home-page h3 {
    background-color: rgba(12, 80, 2, 0.5);
    color: rgba(253, 240, 167);
    font-family: 'Lobster', sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-transform: capitalize;

}

#head1 {
    width: 55%;
    position: relative;
    top: 45%;
    left: 45%;
    text-align: right;
}

#head2 {
    position: relative;
    padding-left: 20px;
    top: 20%;
    width: 70%;
    text-align: center;

}

#head3 {
    position: relative;
    top: 10%;
    text-align: center;
}

#head4 {
    position: relative;
    text-align: center;
    top: 10%;

}

.home-img1 {
    background-image: url(../images/crazy-dog.jpg);
    width: 100%;
    height: 300px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relativea;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.home-img2 {
    background-image: url(../images/group-muddogs.jpg);
    width: 100%;
    height: 300px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

.home-img3 {
    background-image: url(../images/beahcwhite-dog.jpg);
    width: 100%;
    height: 300px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

.home-img4 {
    background-image: url(../images/twodogs.jpg);
    width: 100%;
    height: 300px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*......^^^HomePage^^^.......*/
/*.........Servicepage..........*/
/*Serviceheader*/
#service-head {
    font-family: 'Bebas Neue', sans-serif;
    color: #527a5a;
    font-size: 39px;
    text-decoration: underline;
    position: relative;
    text-align: left;
    padding-left: 6px;
    padding-bottom: 20px;
    word-spacing: 2px;

}

#service-breakdown {
    font-family: 'Bebas Neue', sans-serif;
    color: #527a5a;
    font-size: 43px;
    text-decoration: underline;
    position: relative;
    text-align: center;
    word-spacing: 2px;
}

#service-i {
    color: gold;
    font-size: 50px;
    
}

.bonei {
    position: relative;
    left: 40%;
    top: 20%;
    padding: 10px 3px 10px 3px;
    
}

strong {
    font-size: 50px;
    color: gold;
}
/*Serviceheader*/

/*Table*/
#table-container {
    background-color: rgb(220 246 226 / 80%);
    width: 95%;
    height: fit-content;
    position: relative;
    font-weight: 700;
    margin: 0 auto;
    border-collapse: collapse;
    border: solid #01330b;
}

#top-row-table {
    background-color: #074701;
    color: #ffff;
    font-family: 'Sarabun 700 Bold Italic', sans-serif;
    font-size: 120%;
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}

.serv-left {
    padding-left: 30px;
    width: 48px;
}

.c-t-mid {
    text-align: center;
}


.top-row-table {
    height: 50px;
    width: 100%;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    color: #527a5a;
}

th, td {
    border: 1px solid;
    border-color: yellowgreen;
    padding: 8px;

}

#service-side {
    font-family: 'Sarabun ExtraLight 200', sans-serif;
    font-size: larger;
    text-align: left;
    width: 45%;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cost-side {
    font-family: 'Sarabun ExtraLight 200', sans-serif;
    font-size: large;
    text-align: center;

}

#time-side {
    font-family: 'Sarabun ExtraLight 200', sans-serif;
    font-size: large;
    text-align: end;
    padding-right: 10px;
    text-transform: capitalize;
}
/*Table*/

/*Paragraph*/
#all-service-section > p {
    background-color: rgba(255, 217, 0, 0.281);
    color: #2f4834;
    font-family: 'Sarabun 700 Bold Italic', sans-serif;
    font-weight: 900;
    font-size: 96%;
    width: 95%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    padding: 5% 5% 5% 5%;
    text-align: center;
}

#breakdown > h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    padding: 25px 8px 25px 8px;
    color: #074701;
    background-color: rgba(255, 217, 0, 0.281);;
    letter-spacing: 2px;
    word-spacing: 4px;
    width: 98%;

}

#breakdown > div p {
    font-family: 'Sarabun ExtraBold 800' sans-serif;
    font-size: 21px;
    font-weight: 900;
    background-color:rgb(252, 254, 253, 0.5);
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 21px;
    padding: 5%;
    

}

.p-img1 {
    background-image: url(../images/dogon-hay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.p-img2 {
    background-image: url(../images/white-dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.p-img3 {
    background-image: url(../images/dogs-inpond.jpg);
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;
}

.p-img4 {
    background-image: url(../images/pretty-dog.jpg);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
}

.p-img5 {
    background-image: url(../images/beachday-dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.p-img6 {
    background-image: url(../images/3dogs.jpg);
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
}

.p-img7 {
    background-image: url(../images/tiff.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*......^^^Servicepage^^^.......*/
/*.........Aboutpage..........*/



/*......^^^Aboutpage^^^.......*/
/*........Contactpage..........*/

/*contactInfor*/

.contact-details h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #2f4834;
    padding-bottom: 5px;
    padding-top: 9px;
    text-align: center;
    margin-top: 5%;
    


}

.contact-details h4 {
    background-color: #83b48dbe;
    color: #2f4834;
    font-size: 20px;
    width: 80%;
    padding-bottom: 10px; 
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;

}

#ql {
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
    background-color: #83b48d;
    color: rgba(253, 240, 167);
    word-spacing: 3px;
    letter-spacing: 1px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    margin: auto;
    padding-bottom: 11px;
    text-transform: capitalize;
}

/*ContactForm*/

.contact-form {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-bottom: 10px;
    padding: 9px;
    padding-left: 10px;
    position: relative;
    top: 10%;
    border: 1px solid #ffff;
    border-radius: 5px;
    
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

#first-name, #last-name {
    width: 30%;

}

#contact-label {
    background-color: #83b48dbe;
    color: #ffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

.leash-head {
    background-image: url(../images/wow-pupps.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-position: left;
    position: relative;
    left: 0;
    
}

input[type="submit"] {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 5px;
}

input[type="submit"]:active {
    background-color: #83b48d;
    color: #ffff;
}


/*Map*/
#map {
    position: fixed;
    border-radius: 30px;
    bottom: 0;
    height: 18%;
    width: 100%;

}
/*.....^^^Contactpage^^^.......*/

/*.......^^^Main^^^........*/

/*.........Footer......*/
footer {
    position: relative;
    bottom: 0;
    box-shadow: 0 2px 4px 4px #527a5a;
    z-index: 1;

}

#social-net {
    background-color: rgb(13, 80, 28);
    text-align: center;
    padding: 1px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-net i {
    font-size: 250%;
    color: rgb(252, 254, 253);
    padding: 5px;
}

/*.........^^^Footer^^^........*/

/* Media Tablets and Larger (min width - 768+)*/
@media screen and (min-width: 768px) {
    /*Header*/
    #header-img {
        height: 300px;
        background-position: left;

    }

    #page-titles {
        background-color: rgb(184 225 193 / 80%);
        font-size: 120%;
        letter-spacing: 2px;
        word-spacing: 2px;
        padding-top: 5px;
        padding-left: 30px;
        left: 0;
        bottom: 30px;
        width: 50%;
        min-height: 100px;

    }

    nav {
        box-shadow: 0px 3px 10px #527a5a;
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        font-size: larger;
    }

    #menu {
        display: flex;

    }

    #menu li {
        font-size: 180%;
        text-align: center;
        width: 100%;
    }

    .nav-drop, .nav-drop-label {
        display: none;
    }

    #logo {
        position: absolute;
        top: -1.1rem;
        right: -7rem;
        width: 50%;
        display: flex;
        z-index: 1;

    }

    #welcome {
        padding: 1rem 5rem;
        font-size: 200%;
    }

    #wwt {
        position: relative;
        top: 10%;
        left: 50%;
        font-size: 40px;

    }


    main {
        margin-top: 79px;
    }
}


/*Medai Large screen size min width 992px*/

@media screen and (min-width: 992px) {
    #menu a:hover {
        color: white;
        background-color: #074701;
        text-decoration: 2px solid underline;
    }

}

/*media larger screen size minwidth 1200px*/

@media screen and (min-width: 1200px) {

    #header-img {
        background-size: 200%;
        background-position: 30%;
    }


    #wwt {
        font-size: 75px;
        width: 80%;
        left: 28%;
        top: 5%;

    }

    #page-titles {
        font-size: 135%;
        display: inline-flex;
        padding-left: 20px;
        bottom: -2.1rem;
        width: 100%;
        height: 10px;
        letter-spacing: 5px;
        text-align: center;

        
    }

    #logo {
        width: 44%;

    }
}