/*GoogleFonts link*/
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Starter styles*/ 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Carter One' cursive;
}
/* Starter styles*/

/*Header****/

header {
    background-image: url(../images/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #57c66f;
    width: 100%;
    padding: 0 1 rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 4px #527a5a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    color: #012708;
}

#menu {
    background-color: #527a5a;
    font-style: 'Carter One' cursive;
    letter-spacing: 5px;
    list-style-type: none;
    display: column;
    font-size: 110%;
    width: 100%
}

#menu li {
    margin-bottom: 1em;
    margin-top: 1em;
}
    

.header-link {
    display: flex;
    align-items: center;
}

/*eEader^^^^*/

/*Main*****/

main {
    background-color: white;
    /*move footer to bottom*/
    flex: 1 0 auto; 
}


/*Main^^^^*/

/*Footer****/

footer {
    background-color: yellow;

}


/*Footer^^^^*/