/*GoogleFonts link*/
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');


/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Starter styles*/ 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Carter One' cursive;
}
/* Starter styles*/

/*Header****/

header {
    background-image: url(../images/header-image.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #527a5a;
    width: 100%;
    height: max-content;
    padding: 0 1 rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 4px #527a5a;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    color: #012708;
}

#page-titles {
    background-color: rgba(215, 242, 221, 0.5);
    font-size: 100%;
    text-transform: capitalize;
}


#menu {
    background-color: #527a5a;
    width: 100%;
    display: column;
    list-style-type: none;
    font-size: 110%;
    text-align: center;
    letter-spacing: 2px;
    
}

#menu li {
    text-transform: uppercase;
    
}

.active {
    border-bottom: 1px #ffff;
    color: #ffff;
}

/*Toggle nav setting*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 1px #527a5a;
    display: none;
    top: 100%;
}

/* Toggle*/
#nav-drop:checked~nav {
    display: block;
   
}

#nav-drop {
    display: none;
}

.nav-drop-label {
    font-size: 2rem;
    color: #012708;
}


/*eEader^^^^*/

/*Main*****/

main {
    background-color: rgb(193, 246, 185);
    /*move footer to bottom*/
    flex: 1 0 auto; 
    margin-top: 80px;
}


/*Main^^^^*/

/*Footer****/

footer {
    background-color: yellow;

}


/*Footer^^^^*/

/* Media Tablets and Larger (min width - 768+)*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: 100%;
        text-align: justify;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu li {
        padding-left: 1rem;
        word-spacing: 20%;
        text-align: center;
        width: 100%;
    }
    .nav-drop-label {
        display: none;
    }
}

