/*GoogleFonts link*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Sarabun:ital,wght@0,200;0,600;0,800;1,700&display=swap');


/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Starter styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bebas Neue' sans-serif;
}

/* Starter styles*/

/*...........Header.........*/

#white-space {
    background-color: #ffff;
    color: #527a5a;
    font-size: larger;
    width: 100%;
    height: 110%;
    position: relative;
    top: 0;

}

#welcome {
    font-family: 'Lobster', sans-serif;
    box-shadow:  2px 4px #527a5a;
    position: relative;
    text-align: end;
    padding-right: 1rem;
    padding-top: 0.5rem;
    text-decoration: underline;
    
}


#header-img {
    background-image: url(../images/Header-Image.jpg);
    width: 100%;
    height: 160px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
}

#wwt {
    background-color: rgba(255, 255, 255, 0.8);
    color: #527a5a;
    font-family: 'Lobster', sans-serif;
    font-size: 158%;
    width: 50%;
    word-spacing: 4px;
    letter-spacing: 3px;
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    top: 1.5rem;
    right: 0;
}

#page-titles {
    background-color: rgb(184, 225, 193);
    box-shadow: 0 2px 4px #527a5a;
    text-transform: capitalize;
    color: #012708;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 5px 5px 5px 5rem;
    position: absolute;
    bottom: -3rem;
    width: 100%;

}

#logo {
    width: 58%;
    position: absolute;
    top: -8px;
    left: -25px;
    z-index: 3;
}

.fa-solid-fa-paw {
    color: #527a5a;
}


#menu {
    background-color: rgba(215, 242, 221);
    width: 100%;
    list-style-type: none;

}

#menu li {
    font-family: 'Bebas Neue', sans-serif;
    color: #074701;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 55px;

}

#active-back {
    background-color: #074701;
    width: 100%;
    height: 100%
}

.active {
    text-decoration: 2px solid underline;
    color: #ffff;

}

/*Toggle nav setting*/
nav {
    width: 20%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 4px #527a5a;
    display: block;
    position: relative;
    top: 82%;
}

/* Toggle*/

#nav-drop:checked~nav {
    display: block;

}

#nav-drop {
    display: none;

}

.nav-drop-label {
    background-color: rgba(215, 242, 221);
    font-size: 3rem;
    color: #012708;
    padding: 1.1rem;
    display: block;
    position: relative;
    top: 80%;
    width: 20%;
    height: 50%;
    border-radius: 2px;

}

/*.......^^..Header.^.^.....*/

/*...........Main..............*/
#main {
    flex: 1;
}

/*.........HomePage..........*/


/*......^^^HomePage^^^.......*/
/*.........Servicepage..........*/


/*......^^^Servicepage^^^.......*/
/*.........Aboutpage..........*/



/*......^^^Aboutpage^^^.......*/
/*........Contactpage..........*/




/*Map*/
#map {
    position: fixed;
    bottom: 0;
    height: 20%;
    width: 100%;

}
/*.....^^^Contactpage^^^.......*/

/*.......^^^Main^^^........*/

/*.........Footer......*/
footer {
    box-shadow: 0 2px 4px 4px #527a5a;
    z-index: 1;

}

#social-net {
    background-color: rgb(184, 225, 193);
    text-align: center;
    padding: 1px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-net i {
    font-size: 250%;
    color: #012708;
    padding: 5px;
}

/*.........^^^Footer^^^........*/

/* Media Tablets and Larger (min width - 768+)*/
@media screen and (min-width: 768px) {
    /*Header*/
    #header-img {
        height: 300px;
        background-position: left;

    }

    #page-titles {
        background-color: rgb(184 225 193 / 80%);
        font-size: 120%;
        letter-spacing: 2px;
        word-spacing: 2px;
        padding-top: 5px;
        padding-left: 30px;
        left: 0;
        bottom: 30px;
        width: 50%;
        min-height: 100px;

    }

    nav {
        box-shadow: 20px 20px 20px #527a5a;
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        font-size: larger;
    }

    #menu {
        display: flex;

    }

    #menu li {
        font-size: 180%;
        text-align: center;
        width: 100%;
    }

    .nav-drop-label {
        display: none;
    }

    #logo {
        position: absolute;
        top: -1.1rem;
        right: -7rem;
        width: 50%;
        display: flex;
        z-index: 1;

    }

    #welcome {
        padding: 1rem 5rem;
        font-size: 200%;
    }

    #wwt {
        position: relative;
        top: 10%;
        left: 50%;
        font-size: 40px;

    }


    main {
        margin-top: 79px;
    }
}


/*Medai Large screen size min width 992px*/

@media screen and (min-width: 992px) {
    #menu a:hover {
        color: white;
        background-color: #074701;
        text-decoration: 2px solid underline;
    }

}

/*media larger screen size minwidth 1200px*/

@media screen and (min-width: 1200px) {

    #header-img {
        background-size: 200%;
        background-position: 30%;
    }


    #wwt {
        font-size: 75px;
        width: 80%;
        left: 28%;
        top: 5%;

    }

    #page-titles {
        font-size: 135%;
        display: inline-flex;
        padding-left: 20px;
        bottom: -2.1rem;
        width: 100%;
        height: 10px;
        letter-spacing: 5px;
        text-align: center;

        
    }

    #logo {
        width: 44%;

    }
}