@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Sarabun:ital,wght@0,200;0,600;0,800;1,700&display=swap');

/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Starter styles*/
body {
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
}

p {
    color: #2f4834;
    font-family: 'Sarabun 700 Bold Italic', sans-serif;
    font-weight: 900;
    font-size: 96%;
    width: 95%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    padding: 5% 5% 5% 5%;
    text-align: center;
}

/*...........Header.........*/

#welcome-nav {
    background-color: #ffff;
    color: #527a5a;
    font-size: larger;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;

}

#welcome {
    font-family: 'Lobster', sans-serif;
    position: relative;
    text-align: end;
    padding-right: 1rem;
    padding-top: 0.5rem;
    text-decoration: underline;

}


#nav-drop:checked>#menu-list {
    display: grid;
    position: absolute;

}

#menu-list {
    background-color: rgba(215, 242, 221);
    width: 100%;
    position: relative;
    top: 10%;

}

#menu-list li {
    font-family: 'Bebas Neue', sans-serif;
    color: #074701;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 30px;
    display: grid;


}

#active-back {
    background-color: #074701;
    width: 100%;
    height: 100%
}

.active {
    text-decoration: 2px solid underline;
    color: #ffff;

}

/*Toggle nav setting*/
nav {
    width: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 4px #527a5a;
    display: none;
    position: relative;
    z-index: 4;
}

/* Toggle*/

#nav-drop:checked~nav {
    display: inline;

}

#nav-drop {
    display: none;

}

.nav-drop-label {
    font-size: 30px;
    background-color: rgb(184, 225, 193);
    width: 100%;
    color: #012708;
    text-align: left;
    display: block;
    position: relative;
    top: 0;
    padding-left: 15px;

}

#logo {
    width: 75%;
    max-width: 200px;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 3;
}

#header-img {
    background-image: url(../images/Header-Image.jpg);
    width: 100%;
    height: 460px;
    box-shadow: 0 6px 20px #527a5a;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
}


#page-titles {
    background-color: rgb(184, 225, 193);
    box-shadow: 0 2px 4px #527a5a;
    text-transform: capitalize;
    color: #012708;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-left: 15px;
    position: relative;
    top: 350px;
    width: 100%;

}

/*iconStyles*/
.welcome-dog {
    font-size: 1.5em;
}

.nav-icon {
    font-size: 30px;
    color: #012708;

}

.service-paw {
    color: gold;
    font-size: 50px;

}

.bone {
    color: gold;
    font-size: 50px;
    position: relative;
    left: 50%;
    top: 20%;
    padding: 10px 3px 10px 3px;

}

strong {
    font-size: 40px;
    color: gold;
}

/*.......^^..Header.^.^.....*/

/*...........Main..............*/

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 39px;
    color: #527a5a;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

}

.h3-styles h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #527a5a;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    font-size: 34px;
}

/*HomePage*/
.home-img1 {
    background-image: url(../images/crazy-dog.jpg);
    
} 

.home-img2 {
    background-image: url(../images/group-muddogs.jpg);
   
}

.home-img3 {
    background-image: url(../images/beahcwhite-dog.jpg);
    
}

.home-img4 {
    background-image: url(../images/twodogs.jpg);
    
}

#home-page div {
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

#home-page h3 {
    background-color: rgba(12, 80, 2, 0.5);
    color: rgba(253, 240, 167);
    font-family: 'Lobster', sans-serif;
    font-size: 1.25em;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-transform: capitalize;
    position: relative;
}

#head1 {
    width: 55%;
    left: 45%;
    text-align: right;
}
#head3 {
    width: 100%;
    top: -25%;
    text-align: center;
}

#head4 {
    width: 100%;
    top: -25%;
    text-align: center;
}

/*ServicePAge*/
/*Table*/
#table-container {
    background-color: rgb(220 246 226 / 80%);
    width: 95%;
    height: fit-content;
    position: relative;
    font-weight: 700;
    margin: 0 auto;
    border-collapse: collapse;
    border: solid #01330b;
}

#top-row-table {
    background-color: #074701;
    color: #ffff;
    font-family: 'Sarabun 700 Bold Italic', sans-serif;
    font-size: 120%;
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}

.top-row-table {
    height: 50px;
    width: 100%;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Sarabun ExtraLight 200', sans-serif;
}

th,
td {
    border: 1px solid;
    border-color: yellowgreen;
    padding: 8px;
}

.service-side {
    text-align: left;
    width: 45%;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cost-side {
    text-align: center;

}

.time-side {
    text-align: right;
    width: 100%;
    padding-right: 10px;
    text-transform: capitalize;
}

#service-table>p {
    background-color: rgba(255, 217, 0, 0.281);
    color: #2f4834;
}

#breakdown>h3 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    padding: 25px 8px 25px 8px;
    color: #074701;
    background-color: rgba(255, 217, 0, 0.281);
    letter-spacing: 2px;
    word-spacing: 4px;
    width: 98%;

}

/*AboutPage*/

img {
    width: 100%;

}

/*ContactPage*/

/*Footer*/
footer {
    background-color: rgb(133, 194, 146);
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 2px 4px 4px #527a5a;
    z-index: 1;

}
#social-net {
    color: #012708;
    text-align: center;
    padding: 1px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-net i {
    font-size: 150%;
    color: #012708;
    padding: 15px;
}