@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Sarabun:ital,wght@0,200;0,600;0,800;1,700&display=swap');

/*overide default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Starter styles*/
body {
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
}

p {
    color: #2f4834;
    font-family: 'Sarabun 700 Bold Italic', sans-serif;
    font-weight: 900;
    font-size: 96%;
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding: 5% 5% 5% 5%;
    text-align: center;
}

/*...........Header.........*/

#welcome-nav {
    background-color: #ffff;
    color: #527a5a;
    font-size: larger;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;

}

#welcome {
    font-family: 'Lobster', sans-serif;
    position: relative;
    text-align: end;
    padding-right: 1rem;
    padding-top: 0.5rem;
    text-decoration: underline;

}


#nav-drop:checked>#menu-list {
    display: grid;
    position: absolute;

}

#menu-list {
    background-color: rgba(215, 242, 221);
    width: 100%;
    position: relative;
    top: 10%;

}

#menu-list li {
    font-family: 'Bebas Neue', sans-serif;
    color: #074701;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 30px;
    display: grid;


}

#active-back {
    background-color: #074701;
    width: 100%;
    height: 100%
}

.active {
    text-decoration: 2px solid underline;
    color: #ffff;

}

/*Toggle nav setting*/
nav {
    width: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 2px 4px #527a5a;
    display: none;
    position: relative;
    z-index: 4;
}

/* Toggle*/

#nav-drop:checked~nav {
    display: inline;

}

#nav-drop {
    display: none;

}

.nav-drop-label {
    font-size: 30px;
    background-color: rgb(184, 225, 193);
    width: 100%;
    color: #012708;
    text-align: left;
    display: block;
    position: relative;
    top: 0;
    padding-left: 15px;

}

#logo {
    width: 75%;
    max-width: 250px;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 3;
}

#header-img {
    background-image: url(../images/beu-header.jpg);
    width: 100%;
    height: 460px;
    box-shadow: 0 6px 20px #527a5a;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
}


#page-titles {
    background-color: rgb(184, 225, 193);
    box-shadow: 0 2px 4px #527a5a;
    text-transform: capitalize;
    color: #012708;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-left: 15px;
    position: relative;
    top: 350px;
    width: 100%;

}

/*iconStyles*/
.welcome-dog {
    font-size: 1.5em;
}

.nav-icon {
    font-size: 30px;
    color: #012708;

}

.service-paw {
    color: gold;
    font-size: 50px;

}

.bone {
    color: gold;
    font-size: 50px;
}

strong {
    font-size: 40px;
    color: gold;
}

/*.......^^..Header.^.^.....*/

/*...........Main..............*/

main {
    flex: 1 0 auto;
    margin-top: 10%;
    margin-bottom: 30%;
     
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 39px;
    color: #527a5a;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

}

.h3-styles h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #527a5a;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    font-size: 34px;
}

/*HomePage*/
.home-img1 {
    background-image: url(../images/crazy-dog.jpg);
    
} 

.home-img2 {
    background-image: url(../images/group-muddogs.jpg);
   
}

.home-img3 {
    background-image: url(../images/beahcwhite-dog.jpg);
    
}

.home-img4 {
    background-image: url(../images/twodogs.jpg);
    
}

#home-page div {
    display: flex;
    align-items: center;
    height: 12.5em;
    width: 100%;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

#home-page h3 {
    background-color: rgba(12, 80, 2, 0.5);
    color: rgba(253, 240, 167);
    font-family: 'Lobster', sans-serif;
    font-size: 1.25em;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-transform: capitalize;
    position: relative;
}

#head1 {
    width: 60%;
    left: 40%;
    text-align: right;
}
#head3 {
    width: 100%;
    top: -25%;
    text-align: center;
}

#head4 {
    width: 100%;
    top: -25%;
    text-align: center;
}

/*ServicePAge*/
/*Table*/
#table-container {
    background-color: rgb(220 246 226 / 80%);
    width: 100%;
    height: fit-content;
    position: relative;
    font-weight: 700;
    margin: 0 auto;
    border-collapse: collapse;
    border: solid #01330b;
}

#top-row-table {
    background-color: #074701;
    color: #ffff;
    font-family: 'Sarabun 700 Bold Italic', sans-serif;
    font-size: 1em;
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}

.top-row-table {
    height: 50px;
    width: 100%;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Sarabun ExtraLight 200', sans-serif;
}

th,
td {
    border: 1px solid;
    border-color: yellowgreen;
    padding: 8px;
}

.service-side {
    text-align: left;
    width: 45%;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cost-side {
    text-align: center;

}

.time-side {
    text-align: right;
    width: 100%;
    padding-right: 10px;
    text-transform: capitalize;
}

#service-table>p {
    background-color: rgba(255, 217, 0, 0.281);
    color: #2f4834;
}

#breakdown>h3 {
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    padding: 25px 8px 25px 8px;
    color: #074701;
    background-color: rgba(255, 217, 0, 0.281);
    letter-spacing: 2px;
    word-spacing: 4px;
    width: 98%;

}

#breakdown>div p {
    font-family: 'Sarabun ExtraBold 800', sans-serif;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(252, 254, 253, 0.5);
    width: 100%;
    text-align: center;
    word-spacing: 4px;
    line-height: 20px;
    padding: 5%;
}

.service-first-image {
    background-image: url(../images/dogon-hay.jpg);
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;


}

.service-second-image {
    background-image: url(../images/white-dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.service-third-image {
    background-image: url(../images/dogs-inpond.jpg);
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;
}

.service-fourth-image {
    background-image: url(../images/pretty-dog.jpg);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
}

.service-fifth-image {
    background-image: url(../images/beachday-dog.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

}

.service-sixth-image {
    background-image: url(../images/three-dogs.jpg);
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
}

.service-seventh-image {
    background-image: url(../images/tiff.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*AboutPage*/
#about h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #527a5a;
    font-size: 49px;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10%;
}

#about h3 {
    padding-top: 10%;
    padding-bottom: 10%;
}

img {
    width: 100%;

}
#customers img {
    display: flex;
    column-gap: 0;
}

ul strong {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    text-decoration: double;
}

#about ul {
    list-style-type: none;
    background-color: rgba(12, 80, 2, 0.5);
    color: rgba(253, 240, 167);
    font-size: 25px;
    font-weight: 500;

}

#about ul li {
    margin-bottom: 10%;
    padding: 2%;

}

/*ContactPage*/
/*ContactForm*/
.question-form {
    background-image: url(../images/wow-pupps.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    position: relative;
} 

form {
    padding-top: 10%;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.1);
} 

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

#first-name,
#last-name {
    width: 30%;

}

label {
    background-color: #83b48dbe;
    color: #ffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
}

input[type="submit"] {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 5px;
}

input[type="submit"]:active {
    background-color: #83b48d;
    color: #ffff;
}

.contact-details h4 {
    font-family: 'Sarabun 700 Bold Italic';
    background-color: #83b48dbe;
    color: #2f4834;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    box-shadow: 0 6px 20px #527a5a;
    margin-top: 8%;
    margin-bottom: 8%;
}

/*Maps*/
#map {
    width: 100%;
    height: min-content;
}

/*Footer*/
footer {
    background-color: rgb(133, 194, 146);
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 50%;
    box-shadow: 0 2px 4px 4px #527a5a;
    z-index: 1;

}
#social-net {
    color: #012708;
    text-align: center;
    padding: 1px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-net i {
    font-size: 1.5em;
    color: #012708;
    padding: 15px;
}

.copyright {
    font-size: 0.8em;
}

/*Media large or landscape (576px and up)*/
@media screen and (min-width: 576px) {
    /*HEADER*/

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .nav-drop-label {
        display: none;
    }
    
    #menu-list {
        display: flex;
    }
    
    #menu-list li {
        display: flex;
        padding-left: 55px;
    
    }
    
    nav {
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 100%;
        box-shadow: 0 2px 4px #527a5a;
        position: relative;
        z-index: 4;
    }

    h2 {
        padding-bottom: 0;
    }

    #page-titles {
        font-size: 2em;
    }
     
    /*HomePage*/
    #home-page div {
        height: 20em;
    }

    /*Service*/
    #breakdown div {
        height: 500px;
    }

    #breakdown>div p {
        top: 20%;
        height: fit-content;
    }

    /*AboutGallery*/
    #customers {
        column-count: 2;
        column-gap: 0;
    }

    #about-image-tal {
        width: 60%;
    }

    #footer {
        margin-top: 10%;
    }

}